/* ==========================================================================
   Variables
   ========================================================================== */

// default browser font size (16px in most cases)
@root-font-size: 16px;

// website base font size
@body-font-size: 14px;

// target line height
@target-line-height: 20px;